<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>What Wear</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    </head>

    <body>
        <div id='header'>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="/">Home</a></li>
                <li><a href="/accounts/logout">Logout</a></li>
            {% else %}
                <li><a href="/">Login</a></li>
                <li><a href="/accounts/register">Register Here</a></li>
            {% endif %}
            </ul>
        </div>

        <hr />
        <div id='body'>
            {% block body_block %}{% endblock %}
        </div>



    </body>
</html>
